$color-link:				#F7931E;
$color-btn:					#D6801A;
$color-btn-border:			#8F5611;
$color-border:				rgba(224,224,224,0.75);
$color-border-bg:			rgba(224,224,224,0.15);
$color-border-bg2:			rgba(224,224,224,0.35);
$color-text: 				#E6E6E6;
$color-text2: 				#ccc;
$retina: 					"only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";
