@charset 'UTF-8';
@import 'compass/reset';
@import 'compass/css3';
@import 'vars';
@import 'mixins';
@import 'grids';
@import "font-awesome-compass";
@import "font-awesome";


@import 'base/base';
@import 'layout/layout';
@import 'layout/sidebar-filters';
@import 'pages/main/main';
@import 'pages/event/event';
@import 'pages/search/search';


@import 'global/blocks/b-user-widget'; 
@import 'global/blocks/b-gallery'; 
@import 'global/blocks/b-list-of-events-l';
@import 'global/blocks/b-list-of-events-g';
@import 'global/blocks/breadcrumbs';
@import 'global/blocks/b-filters';

@import 'responsive';


@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@font-face {
    font-family: "PF Agora Slab Pro Light";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-Light.ttf');
}

@font-face {
    font-family: "PF Agora Slab Pro Medium";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-Medium.ttf');
}