config/database.php
config/facebook.php
config/service.php
config/sharding.php
config/shardingService.php
.htaccess
.idea
.buildpath
.project
.externalToolBuilders/*
htpasswd
public/.htaccess
public/upload
var/compiled/*
!var/compiled/empty
var/logs/*
!var/logs/empty
var/cache/*
!var/cache/empty
^service/*
.settings/*
apps/library/Thirdparty/Sharding/config.php
composer.lock
vendor/*
sitemap.xml
sitemap/*
