.map{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: auto ;
    margin-right: auto ;
}
#map_canvas{
    position: static;
    width: 100%;
    height: 100%;
}

.table-condensed a.btn {
    height: auto;
    padding: 2px 12px;
    min-height: 24px;
    line-height: 24px;
}
.table-condensed th, .table-condensed td
{
    padding: 2px 5px;
}
.table-condensed  i.icon-chevron-down, .table-condensed  .icon-chevron-up
{
    position: relative;
    left: 0;
    top:5px;
}

.bootstrap-datetimepicker-widget td span {
    height: 39px;
    line-height: 39px;
}

.icon-remove-sign{
    float: right;
}

.search-queries {
    position: absolute;
    top:40px;
    background: #fff;
    left:0;
    z-index: 130;
    width: 100%;
}

.search-queries  ul {
    margin:0;
    list-style: none;
    border:1px solid #0088C4;
}
.search-queries  li {
    clear: both;
    padding: 4px 5px;
    margin: 0 10px;
    border-top:1px solid #ccc;
    color:#000000;
    font-size: 14px;
}

.search-queries  li:hover {
    background: #eee;
}

.search-queries  li:first-child {
    border-top: 0;
}

.search-queries  li {
    cursor: pointer;
}

.hidden{
    display: none;
}

.sidebar .input-append input {
     border-radius: 5px;
}

.event-site label{
    display: inline;
}
