.notiBlock {
    position: absolute;
    width: 100%;
    z-index: 1;
    line-height: 50px;
    height: 60px;
    overflow: hidden;
    background: #f3f3f3;
    border-bottom: 2px solid #ccc;
    display: none;
}

.notiBlock p {
    padding-left: 30px;
}
.notiBlock a {
    color: #008de8 !important;
    font-weight: bold !important;
}

.notiWindowTypeInfo {
    background: #FFFFFF;
}

.notiWindowTypeError {
    background: #ff9e9d;
}

.notiWindowTypeWarning {
    background: #ffce7d;
}

.notiHide {
    display: inline-block;
    margin-left: 20px;
    background: #b3b3b3;
    color: #ffffff;
    line-height: 15px;
    padding: 1px 3px;
}

.notiHide:hover {
    background: #9a9a9a;
    text-decoration: none;
}

.notiABtn {
    display: inline-block;
    margin-left: 20px;
    background: #6170b3;
    color: #ffffff;
    line-height: 15px;
    padding: 1px 3px;
}

.notiABtn:hover {
    text-decoration: none;
    background: #4a5992;
}