@media screen and (max-width: 1160px) {
    .btn-add {
        margin-right: 20px;
    }

}



@media screen and (max-width: 1200px) {
    .show-box {
        padding-left: 22px;
        padding-right: 22px;
    }
    .location {
        padding-left: 9px;
    }
    .user-box {
        padding-left: 15px;
    }

    .content_noBorder {
        width: 100%;
    }


}


@media screen and (max-width: 1190px) {

    .add-img {
        margin-right: 20px;
    }
    .add-event .form-center {
        margin-right: 20px;
    }



}

@media screen and (max-width: 1100px) {
    .logo {
        background: url(../img/demo/logo-small.png) no-repeat;
        width: 46px;
        height: 24px;
    }
    .header .span2:first-child  {
        width: 100px;
    }

}

@media screen and (max-width: 990px) {
    .header .span4.user-block  {
        width: 315px;
    }
    .header .span2:first-child {
        width: 80px;
    }

    .location-box {
        padding-right: 0px;
    }
    .container {
        width: 100%;
    }
    .location-box {
        width: 380px;
    }
    .container {
        width: 100%;
    }

    .btn-add span {
        margin-right: 0;
    }
    .location-box {
        width: 374px;
    }
    .btn-show span {
        display:none;
    }
    .btn-show {
        width: 48px;
    }
    .show-list {
        width: 40px;
    }
    .btn-show i {
        border-right:0;
    }

    .sidebar .input-append input
    {
        width: 58%;
    }


}

@media screen and (max-width: 920px) {


    .user-box {
        padding-left: 0;
    }
    .show-box{
        padding-left: 0;
    }

    .header .span4.user-block {
        width: 304px;
    }
    .user-box {
        margin-right: 10px;
    }
    .location-box {
        width: 364px;
    }
    .location {
        padding-left: 0;
    }
}
@media screen and (max-width: 868px) {
    .header .row > div {
        float: left;
    }

    .location-place_ask .location-search {
        width: 419px;
    }

    .location-search input {
        width: 79%;
    }
    .user-box a  {
        min-width: 70px;
    }
    .user-box  a span {
        display: none;
    }
    .user-box  a i {
        right: 6px;
    }
    .header .span4.user-block {
        width: 150px;
    }
    .user-box {
        padding-left: 0;
    }
    .text-btn {
        display: none;
    }
    .btn-add span {
        margin-right: 0;
    }
    .location-box {
        width: 374px;
    }
    .show-list {
        width: 40px;
    }
    .show-list .show-box {
        padding-left: 0;
    }

    .user-box {
        padding-left: 0px;
    }
    .sidebar .input-append input
    {
        width: 53%;
    }
}



@media screen and (max-width: 770px) {
    .sidebar > div {
        margin-left: 20px;
    }
    .user-box {
        padding-left: 13px;
    }
    .location {
        padding-left: 10px;
    }
    .location-place_ask > a {
        width: 150px;
    }
    .location-box {
        width: 346px;
    }
    .show-list {
        padding-left: 10px;
    }

    .sidebar .input-append input {
        width: 89%;
    }
}


@media screen and (max-width: 770px) {
    .location-place_ask  > a >  span {
        text-indent: -9999px;
        background: url(../img/demo/search.png) no-repeat ;
        width: 14px;
        height: 14px;
        display: inline-block;
        padding-left: 15px;
        vertical-align: middle;
        margin-left: 10px;
    }
    .location-place_ask > a {
        width: 60px;
    }
    .location-box {
        width: 260px;
    }
    .show-list {
        padding-left: 17px;
    }

    .location-search  .input-append input
    {
        height: 42px;
    }
    .event-list-btn {
        padding-left: 20px;
    }
}



@media screen and (max-width: 630px) {

    .sidebar .input-append input {
        width: 86%;
    }
    .add-event .form-center {
        margin-right: 30px;
    }
}



@media screen and (max-width: 580px) {
    .sidebar .input-append input {
        width: 84%;
    }
    #back-to-top {
        /*display: block;*/
        background:#141414 ;
        padding: 5px 0 10px 0;
    }

    a.btn-row-down {
        display: block;
    }
    .span4.location-box
    {
        display: none;
    }
    .header .span4.user-block {
        width: 268px;
        padding-left: 6px;
    }
    .user-box a span {
        display: block;
        padding-right: 20px;
    }
    .location-box {
        margin: 0 auto;
    }
    .user-box {
        padding-left: 15px;
    }
    .sidebar .input-append input {
        width: 75%;
    }

}


@media screen and (max-width: 410px) {

    .user-box a span {
        display: none;
    }
    .header .span4.user-block {
        width: 172px;
    }
    .form-center {
        clear: both;
        padding-left: 0;
    }
}


@media screen and (max-width: 320px) {
    .header .span4.user-block {
        width: 152px;
    }
    .header .span2:first-child {
        width: 80px;
    }


}
