// event page left sidebar 

.short-info {
	font-family: "Open Sans";
	font-size: 14px;

	&__picture {
		img {
			max-width: 100%;			
		}
	}

	&__item {
		@include border-radius(2px);
		display: block;
		background: #404040;
		padding: 10px 15px;
		margin: 10px 0;
		color:#E6E6E6;

		i {
			width: 25px;
			font-size: 18px;
			color: #F7931E;
			text-align: center;
			margin-right: 5px;
		}

		p {
			line-height: 23px;
		}

		.contact-info {
			&__item {
				margin: 0 0 8px 0;
			}

			i {
				float: left;
				margin-top: 5px;
			}

			&__text {
				display: block;
				padding-left: 30px;
				line-height: 23px;
			}
		}


		.map {
			margin: 10px 0;

			&__picture {
				img, iframe, embed {
					max-width: 100%;
				}

			}

			.actions {
				font-size:13px;
				font-weight: 300;
				margin-top: 15px;


				&__link-view {

				}

				&__link-report {
					color:#999999;
				}
			}
		}
	}

	.actions {
		display: block;
		margin: 10px 0;
		
		&__button {
			float:left;
			padding: 0 0 0 4%;

			&:first-child {
				padding-left: 0;
			}

			.ew-button {
				padding: 15px 0;
				display: block;
			}
		}
	}

}