.list-of-events {
	position: relative;
	padding: 0 0 45px 0;


	&.col-3 {

	}

	&.col-4 {

		
		.list-of-events__item {

			@include breakpoint(768px) {
				width: 50%;
				margin-bottom: 1.6%;
			}


			@include breakpoint(695px) {
				width: 100%;
				margin: 0 0 20px 0;
			}
		}
		

		.list-of-events__picture {
			img {
				height: 280px;

				@include breakpoint(768px) {
					height: 380px;
				}

				@include breakpoint(695px) {
					width: 100%;
					height: auto;
				}
				
			}
		}

		.list-of-events__title {
			font-size: 26px;
		}
	}


	.header {
		float:left;
		width: 100%;
		margin-bottom: 30px;



		&__title {
			float:left;
			font-family: "Open Sans";
			font-size: 24px;
			font-weight: 300;
			color: #ccc;
			margin: 0;

			@include breakpoint(695px) {
				display: block;
				float:none;
				text-align: center;
			}

			.divider {
				display: inline-block;
				vertical-align: top;
				margin: 0 10px;
				color:#808080;

				&:before  {
					content: "|";
				}

				@include breakpoint(695px) {
					display: none;
				}
			}

			strong {
				color:#ccc;
				font-weight: 600;

				@include breakpoint(695px) {
					display: block;
					margin-bottom: 10px;
					text-align: center;
				}
			}

			@include breakpoint(768px) {
				font-size: 22px;
			}


		}

		&__link-show-more {
			float:right;
			padding: 5px 10px;
			font-family: "Open Sans";
			font-size: 20px;
			background: #292929;
			color:#F7931E;
			text-decoration: underline;

			@include breakpoint(768px) {
				font-size: 18px;
			}

			@include breakpoint(695px) {
				display: none;
			}
		}

	}


	&__container {
		margin-left: -1.6%;
	}


	&__item {
		float:left;
		position: relative;
		padding: 0 0 0 1.6%;
		overflow: hidden;

		@include breakpoint(695px) {
			width: 100%;
			margin: 0 0 20px 0;
		}
	}


	&__picture {
		position: relative;
		// vertical-align: middle;

		img {
			height: 380px;
		}

		@include breakpoint(695px) {
			img {
				width: 100%;
				height: auto;
			}
			text-align: center;
		}
	}

	&__info {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 20px 25px;
		background-color: rgba(0, 0, 0, 0.7);
		
		@include breakpoint(695px) {
			text-align: center;	
		}
	}

	&__title {
		font-family: "Open Sans";
		font-size: 34px;
		font-weight: 300;
		color: #F7931E;
		margin-bottom: 10px;
		margin-top: 0;
		// @include text-truncate;

		a {
			color: #F7931E;
			text-decoration: none;
		}

		@include breakpoint(768px) {
			font-size: 24px;

		}
	}

	&__description {
		font-family: "Open Sans";
		font-size: 12px;
		font-weight: 300;
		color: #E6E6E6;

		p {
			margin: 0 0 10px 0;
		}
	}

}