// GRID

.b-list-of-events-g {
	margin: 0 0 0 -1.6%;

	&__wrapper {
		@include border-top-left-radius(2px);
		@include border-top-right-radius(2px);
		position: relative;
		padding: 20px;
		background: #404040;
		height:360px;
	}

	&__item {
		float:left;
		padding: 0 0 1.6% 1.6%;
		// max-height: 360px;

		.footer {
			display: block;
			text-align: center;
			color:#B3B3B3;
			font-family: "Open Sans";
			font-size: 14px;
			margin: 15px 0 0 0;

			&__item {
				display: inline-block;	
				margin-right: 15px;
				margin-bottom: 10px;
					
			    i {
			    	margin-right: 6px;
			    	color: #F7931E;
			    }

				&--non-active {
					color: #737373;

					i {
						color: #737373;
					}
				}
			}



		}

		.actions {
			display: block;
			text-align: center;
			margin-top: 10px;
			padding: 6px 0;
			line-height: 100%;

			.ew-button {
				display: inline-block;
				padding: 8px 10px;
				font-size: 13px;
				margin: 0 2px;

				i {
					margin-right: 6px;
				}
			}
		}
	}

	&__picture {
		float:left;
		width: 100px;
		margin: 0 15px 10px 0;
		overflow: hidden;

		img {
			// max-width: 100%;
			max-height: 100px;
		}


		.like-buttons {
			background: red;
			margin: 10px 0 0 -10px;

			&__item {
				float:left;
				padding-left: 10px;

				.ew-button {
					display: block;
					padding: 6px 12px;

					i {
						margin: 0;
					}
				}
			}
		}
	}

	&__title {
		display: block;
		margin: 0 0 10px 0;
		padding: 0 0 1px 0;
		font-family: "Open Sans";
		font-size: 20px;
		font-weight: 300;
		color: $color-link;
		@include text-truncate;
		max-width: 80%;

		a {
			color: $color-link;
			text-decoration: none;
		}
	}


	&__date {
		margin: 0 0 10px 0;	
		color:#F7931E;
		font-family: "Open Sans";
		font-size: 12px;
	}

	&__category {
		margin-bottom: 10px;
		color:#878787;
		font-family: "Open Sans";
		font-size: 12px;
		line-height: 21px;

		i {
			font-size: 13px;
			margin-right: 6px;
		}

	}

	&__description {
		@include clearfix();
		font-family: "Open Sans";
		font-size: 13px;
		color: $color-text2;
		position: relative;
		text-overflow: ellipsis;
		word-wrap: break-word;
		overflow: hidden;
		height: 150px;
		line-height: 20px;

		p {

			// &:after {
			// 	position: absolute;
			// 	background: #404040;
			// 	bottom: 0;
			// 	left: 0;
			// 	height: 25px;
			// 	width: 100%;
			// 	content: "..."
			// }

		}
	}

	&__link-detail {
		@include border-bottom-left-radius(2px);
		@include border-bottom-right-radius(2px);
		display: block;
		width: 100%;
		background: #474747;
		border-top: 1px solid #383838;
		text-align: center;
		text-decoration: none;
		padding: 16px 0;
		color:#383838;
		font-size: 0;

		&:before {
			content: "\25CF \25CF \25CF";
			letter-spacing: 5px;
			font-size: 18px;
			color:#383838;
		}
	}

}